@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #9575CD;
    height: 100px;
    padding: 20px;
    margin-top: 0;
    position: sticky;
    top: 0;
    color: #311B92;
}

footer{
    background-color: #9575CD;
    height: 80px;
    padding: 10px;
    margin-bottom: 0;
    color: #311B92;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight:bolder;
    color: #311B92;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
}

h1{
    font-family:'Quicksand', sans-serif;
    font-size: 32px;
    padding: 10px;
    margin: 20px 60px 20px 60px
}

h2{
    font-family:'Quicksand', sans-serif;
    font-size: 24px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
}

h3{
    font-family:'Quicksand', sans-serif;
    font-size: 20px;
}

h4{
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

h5{
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
}

p{
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-right: 60px;
    margin-top: 10px;
    margin-left: 60px;
}

ul li{
    font-family: 'Quicksand', sans-serif;
    list-style-type: circle;
    margin-left: 20px;
}

img{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    border-radius: 1cm;
    border: 4px solid #9575CD;
}

figcaption{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 60px;
}

iframe{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.lista{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

.contacto{
    font-family:'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    border-radius: 40px;
    border: 4px dotted #9575CD;
    background-color: #D1C4E9;
    margin-right: 800px;
    margin-bottom: 10px;
}


/* Grids */

.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 160px 1fr 1fr 100px;
    grid-template-areas: 
        "logo header header header"
        "article article article article"
        "article article article article"
        "footer footer footer footer"
        ;

}

.logo{
    grid-area: logo;
    background-color: #9575CD;
    height: 120px;
    padding: 20px;
    margin-top: 0;
    position: fixed;
 }

.header{
    grid-area: header;
 }

 .footer{
    grid-area: footer;
 }

 .article-grid{
    grid-area: article;
 }

 .article{
     border: 5px solid #311B92;
     width: 400px;
     height: 300px;
     margin-top: 15px;
 }
 
 .hijo{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 1100px;
    justify-content: center;
    gap: 15px;
 }

 
/* circulos */
.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 50px;
}

.circle1{
    background-color: gray;
    transition: all 2s ease;
}

.circle2{
    background-color: indigo;
    transition: all 2s ease;
}

.circle3{
    background-color: blue;
    transition: all 2s ease;
}

.circle4{
    background-color: green;
    transition: all 2s ease;
}

.circle5{
    background-color: yellow;
    transition: all 2s ease;
}

.circle6{
    background-color: orangered;
    transition: all 2s ease;
}

.circle7{
    background-color: red;
    transition: all 2s ease;
}

.container-circle:hover .circle2,
.container-circle:hover .circle3,
.container-circle:hover .circle4,
.container-circle:hover .circle5,
.container-circle:hover .circle6,
.container-circle:hover .circle7{
    transform: translateX(40px);
}

.formulario{
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    padding: 20px;
    margin-right: 60px;
    margin-top: 10px;
    margin-left: 60px;
}
