/* circulos */
.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 24px;
}
.circle1{
    background-color: blueviolet;
    transition: all 2s ease;
}
.circle2{
    background-color: indigo;
    transition: all 2s ease;
}
.circle3{
    background-color: blue;
    transition: all 2s ease;
}
.circle4{
    background-color: green;
    transition: all 2s ease;
}
.circle5{
    background-color: yellow;
    transition: all 2s ease;
}
.circle6{
    background-color: orangered;
    transition: all 2s ease;
}
.circle7{
    background-color: red;
    transition: all 2s ease;
}
.container-circle{
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.container-circle:hover .circle1,
.container-circle:hover .circle2,
.container-circle:hover .circle3,
.container-circle:hover .circle4,
.container-circle:hover .circle5,
.container-circle:hover .circle6,
.container-circle:hover .circle7{
    transform: translateX(25px);
}
