*{
    padding: 0;
    margin: 0;
}

header{
    height: 120px;
    margin-top: 0;
}

footer{
    background-color: $colorlila;
    height: 200px;
    padding: 10px;
    margin-bottom: 0;
    color: $colorazul !important;
    h3{
        font-family:'Quicksand', sans-serif;
        font-size: 20px;
        font-weight: bolder;
    }
    h4{
        font-family:'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    h5{
        font-family:'Quicksand', sans-serif;
        font-size: 12px;
    }
}


nav{
    ul{
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-family: 'Quicksand', sans-serif;
                font-size: 16px;
                font-weight: 600;
                color: $colorazul !important;
            }
        }
    }
} 

.color-header-footer{
    background-color: $colorlila;
}
.color-font-header-footer{
    color: #311B92;
}

.navbar-logo{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #311B92 !important;
}

.redes{
    a{
        color: $colorazul
    }
}

.titulo{
    font-family:'Quicksand', sans-serif;
    padding: 10px;
    font-size: 32px;
}

.titulo-primario{
    @extend.titulo;
    font-weight: bolder;
}

.titulo-secundario{
    @extend.titulo;
    font-size: 24px;
    font-weight: 600;
}

.titulo-subtitulo{
    @extend.titulo;
    font-size: 24px;
}

.titulo-l{
    font-family:'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.titulo-m{
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.titulo-s{
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
}

