$colorlila: #9575CD;
$colorazul: #311B92;

$colorverde: #00C853;
$colorverdeclaro: #69F0AE;
$colorlima: #EEFF41;
$coloramarillo: #FFD600;
$colornaranja: #FF6D00;
$colorrojo: #D50000;
$colorrosa: #FF4081;
$colorvioleta: #AA00FF;
$colorceleste: #0091EA;
$colormarron: #795548;
$colorgris: #757575;
$colorgrisclaro: #EEEEEE;